/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fraunces-v24-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/fraunces-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/fraunces-v24-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/fraunces-v24-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/fraunces-v24-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/fraunces-v24-latin-regular.svg#Fraunces') format('svg');
  /* Legacy iOS */
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v24-latin-900.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/fraunces-v24-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/fraunces-v24-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/fraunces-v24-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/fraunces-v24-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/fraunces-v24-latin-900.svg#Fraunces') format('svg');
  /* Legacy iOS */
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/barlow-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/barlow-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg');
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;

}

.container {
  width: 1345px;
  margin: 0 auto;
  padding: 40px 80px;

}


.site-logo {
  width: 203px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-all-link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
}

.header-all-link+.header-all-link {
  margin-left: 32px;
}


/* site-hero */



.hero-container {
  background-image: url('./img/hero-img.jpg');
  height: 600px;
  width: 1280px;
  border-radius: 10px;
}

.hero-title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 32px 0 52px 0;
}

.hero-link {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 30px;
  background: #66D2CF;
  border-radius: 6px;
  display: inline-block;
  margin-top: 56px;
}
.hero-all-text{
  width: 493px;
  margin: 75px 0 110px 60px;
}